form {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
}

.form-control {
  margin-bottom: 1rem;
}

label, input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input {
  font: inherit;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.25rem;
  margin-bottom: 20px;
  background-color: #1a1a1a;
}

input:focus {
  outline: none;
  border-color: #01947e;
  background-color: #1a1a1a;
  color: whitesmoke;
}

button {
  background: #01947e;
  border: 1px solid #01947e;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #00806d;
  border-color: #00806d;
}